.App {
  color: var(--text-black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  top:0;
  bottom: 0;
  height: 100vh;
  /* border: 3px solid red; */
}

.blur{
  position: relative;
  background-color: #282c34;
  /* filter: blur(0.1rem); */
}

.visible {
   position : fixed;
   left : 7%;
   top : 85%;
   z-index : 3;

}
.invisible{
  visibility: hidden;
}
.alert{
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid transparent;
  width: fit-content;
  font-weight: 400;
}

.alert-secondary{
  color: var(--color-gray);
  background-color: var(--background-gray);
  border-color: var(--border-gray);
  border-radius: 0.3rem;
  width: 30%;
  border : 1px solid transparent;
  padding: 1rem 1rem;
  margin: 0.5rem;
}
.alert--button{
  background-color: var(--background-gray);
  border: none;
  font-size: inherit;
  color: #047857;
}
.alert--button:hover{
  opacity: 70%;
}